<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <p class="logo" onclick="window.location.href='/'">Нумо</p>
        <p class="nav-item" onclick="window.location.href='{{ action }}'">
            <span class="material-symbols-outlined header-icon">
                person
            </span>
        </p>
    </header>
    <main class="main">
        <div class="haslo">
            <p class="haslo-title">Мотивація...</p>
            <p class="haslo-text">Так, це все.</p>
        </div>
        <div class="img-cont">
            <img src="/static/images/main_arrow.png" class="img">
        </div>
        <div class="main-text-cont">
            <p class="main-text">
                <span class="y">Це все</span>, що вам потрібно, аби <span class="y">завести корисну ініціативу</span> у власне життя.
            </p>
        </div>
        <div class="why-cont">
            <p class="why-title">Чому ми?</p>
            <img src="/static/images/why_we.png" class="why-img">
        </div>
        <div class="mission-cont">
            <p class="mission-title">Місія «Нумо» -</p>
            <p class="mission-text">
                Сформувати <span class="y">спільноту</span>, де суспільство <span class="y">надихатиме</span> та <span class="y">підтримуватиме</span> одне одного для досягнення особистісних <span class="y">цілей</span>.
            </p>
        </div>
        <div class="goals-cont">
            <p class="goals-title">Цілі: </p>
            <div class="goals">
                <div class="goal">
                    <p class="goal-num green">1</p>
                    <p class="goal-text">Підвищення рівня<br>самодисципліни серед молоді</p>
                </div>
                <div class="goal">
                    <p class="goal-num">2</p>
                    <p class="goal-text">Покращення успішності<br>користувачів</p>
                </div>
                <div class="goal">
                    <p class="goal-num green">3</p>
                    <p class="goal-text">Поширення цінностей<br>здорового способу життя та<br>саморозвитку</p>
                </div>
                <div class="goal">
                    <p class="goal-num">4</p>
                    <p class="goal-text">Позбутися ліні та<br>прокрастинації, які заважають<br>у досягненні цілей</p>
                </div>
            </div>
        </div>
        <div class="mission-cont">
            <p class="mission-title">Мета:</p>
            <p class="mission-text">
                <span class="g">Допомогти людям</span> покращувати самодисципліну на основі <span class="g">створення звичок</span>, завдяки <span class="y">взаємодопомоги</span> та <span class="y">мотивації</span>.
            </p>
        </div>
        <div class="quote-cont">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#898121" class="bi bi-quote" viewBox="0 0 16 16">
                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
            </svg>
            <p class="quote-text"><span class="g">«Нумо»</span> - це <span class="y">команда</span>, яка перемагає разом</p>
        </div>
    </main>
</body>
</html>