<div class="nav-bottom-cont">
    <div class="nav-bottom-item" onclick="window.location.href='/'">
        <span class="material-symbols-outlined">
            grid_on
        </span>
        <p class="nav-bottom-text">Головна</p>
    </div>
    <div class="nav-bottom-item" onclick="window.location.href='/journal'">
        <span class="material-symbols-outlined">
            list_alt
        </span>
        <p class="nav-bottom-text">Звички</p>
    </div>
    <div class="nav-bottom-item" onclick="window.location.href='#'">
        <span class="material-symbols-outlined">
            notifications
        </span>
        <p class="nav-bottom-text">Сповіщення</p>
    </div>
    <div class="nav-bottom-item" onclick="window.location.href='/profile'">
        <span class="material-symbols-outlined">
            person
        </span>
        <p class="nav-bottom-text">Профіль</p>
    </div>
</div>