<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <p class="logo" onclick="window.location.href='/home'">Нумо</p>
        <p class="nav-item" onclick="window.location.href='/logout'">
            <span class="material-symbols-outlined header-icon">
                logout
            </span>
        </p>
    </header>
    <main class="main">
        <div class="main-info-cont">
            <div class="profile-image">
                {{ avatar }}
            </div>
            <p class="username">@{{ username }}</p>
            <div class="info-cont">
                <div class="info-item">
                    <p class="info-value">{{ habits_len }}</p>
                    <p class="info-text">Звичок</p>
                </div>
                <div class="info-item">
                    <p class="info-value">0</p>
                    <p class="info-text">Макс. днів</p>
                </div>
                <div class="info-item">
                    <p class="info-value">0</p>
                    <p class="info-text">Досягнень</p>
                </div>
            </div>
        </div>
        <div class="about-cont">
            <p class="about-title">Про вас</p>
            <div class="about-items-cont">
                <div class="about-item city">
                    <p class="about-key">Місто:</p>
                    <form action="/city" method="POST" class="input-cont">
                        <select id="city" name="city" class="input-about">
                            <option value="none" selected disabled>{{ city if city != '' else 'Оберіть місто' }}</option>
                            <option value="Дніпро">Дніпро</option>
                            <option value="Донецьк">Донецьк</option>
                            <option value="Житомир">Житомир</option>
                            <option value="Запоріжжя">Запоріжжя</option>
                            <option value="Івано-Франківськ">Івано-Франківськ</option>
                            <option value="Київ">Київ</option>
                            <option value="Кропивницький">Кропивницький</option>
                            <option value="Луганськ">Луганськ</option>
                            <option value="Луцьк">Луцьк</option>
                            <option value="Львів">Львів</option>
                            <option value="Миколаїв">Миколаїв</option>
                            <option value="Одеса">Одеса</option>
                            <option value="Полтава">Полтава</option>
                            <option value="Рівне">Рівне</option>
                            <option value="Суми">Суми</option>
                            <option value="Тернопіль">Тернопіль</option>
                            <option value="Ужгород">Ужгород</option>
                            <option value="Харків">Харків</option>
                            <option value="Херсон">Херсон</option>
                            <option value="Хмельницький">Хмельницький</option>
                            <option value="Черкаси">Черкаси</option>
                            <option value="Чернівці">Чернівці</option>
                            <option value="Чернігів">Чернігів</option>
                        </select>
                        <button type="submit" class="btn-check">
                            <span class="material-symbols-outlined icon check" onclick="window.location.href='/city?city='">
                                check_circle
                            </span>
                        </button>
                    </form>
                </div>
                <div class="about-item">
                    <p class="about-key">Опис:</p>
                    <form action="/about" method="POST" class="input-cont">
                        <textarea name="about" class="input-about" rows="3" placeholder="придумайте опис" required>{{ about if about != '' }}</textarea>
                        <button type="submit" class="btn-check">
                            <span class="material-symbols-outlined icon check" onclick="window.location.href='/about'">
                                check_circle
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="buttons-cont">
            <p class="button" onclick="window.location.href='/journal'">Журнал звичок</p>
        </div>
        <div class="active-cont">
            <div class="active-cont-title">Активні звички</div>
            {% for i in user_active %}
            {% if username == i["author"] %}
            <div class="active">
                <div class="active-half1">
                    <p class="active-title">{{ i["title"] }}</p>
                    <p class="mate-cont">
                        {% if i["mate"] == '' %}
                            <span class="material-symbols-outlined group-icon">
                                person_search
                            </span><br>
                            <span class="mate">друг ще не приєднався</span>
                        {% else %}
                            <span class="material-symbols-outlined group-icon">
                                group
                            </span><br>
                            <span class="mate">@{{ i["mate"] }}</span>
                        {% endif %}
                    </p>
                    <div class="progress-cont">
                        <p class="progress-title">Ваш прогрес</p>
                        <div class="dots">
                            {% for j in range(i["days_author"]|int) %}
                                <div class="dot"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="active-half2">
                    <div class="h2-widget">
                        <p class="widget-value">{{ i["days_author"] if i["days_author"] != '' else 0 }}</p>
                        <p class="widget-key">дні підтримання звички</p>
                    </div>
                    <div class="h2-widget">
                        <p class="widget-value">{{ i["procent_author"] if i["procent_author"] != '' else 0 }}%</p>
                        <p class="widget-key">пройдено до мети</p>
                    </div>
                    <div class="buttons-cont buttons-widgets">
                        <!-- <p class="button -wid" onclick="window.location.href=`/add_day?q={{ i['q'] }}`">+ день</p> -->
                        <p class="button -wid">+ день</p>
                        <!-- <p class="button -delete">
                            <span class="material-symbols-outlined delete-icon">
                                delete
                            </span>
                        </p> -->
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% include 'menu.html' %}
    </main>
</body>
</html>